<% content_for :title do %>Add a new User<% end %>

<h1>Users New</h1>

<form action="" method="post">
	<fieldset>
		<legend>New Post</legend>
		<input type="hidden" name="">
		
		<div class="row">
			<div class="large-12 columns">
				<label class="left inline">Name</label>
				<input type="text" name="name" placeholder="Name">
			</div>
		</div>

		<div class="row">
			<div class="large-12 columns">
				<label class="left inline">Message</label>
				<input type="text" name="message" placeholder="Type your message...">
			</div>
		</div>
	</fieldset>
</form>